:root {
  --second-text: #818181;
  --small-unit: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: #141414;
}

.secondText {
  color: var(--second-text);
}

.container {
  background-color: #141414;
}

.navBarImgs {
  height: 30px;
}

#badIcon {
  text-decoration: none;
}

.copy {
  font-size: var(--small-unit);
}

.logoProfile {
  height: 50px;
}

.editIcon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editIcon::before {
  font-size: 0.5rem;
}

.smallFont {
  font-size: small;
}
